@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');


*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    width: 100%;

}
nav{
    background-color: transparent;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(99, 99, 99); /* Línea divisoria negra */
    box-shadow: 0px 2px 5px rgba(91, 91, 91, 0.4);
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
.logo{
    font-size: 2em;
    height: 40px;
    color: orange;
}
.color-acento{
    color: #0037c3;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #000000;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #0037c3;
    transition: .5s;
    color: white;
}


.checkbtn{
    font-size: 30px;
    color: #000000;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background: url(fondo.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    li a:hover, li a.active{
        background: none;
        color: red;
    }
    #check:checked ~ ul{
        left:0;
    }
    
}

.content {
    margin-top: 20px;
}

.home {
    width: 50%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #0037c3;
    font-size: 50px;
    margin-bottom: 20px;
}

.datos {
    margin-top: 20px;
}

p {

    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 25px;
}

strong {
    font-weight: bold;
    color: #4E7FFF;
    font-size: 21px;

}

.imagen {
    text-align: center;
    margin-top: 20px;

}

img {
    max-width: 100%;
    border-radius: 5px;

}










.titulo {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
  }
  
  .contenedor {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .carta {
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  
  .carta img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .borde-azul {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #0037c3;
    color: white;
    text-align: center;
    padding: 5px;
  }
  
  .nombre {
    margin-top: 5px;
    text-align: center;
  }












  footer {
    background-color: #0037c3;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}